@media only screen and (max-width: 768px) {
  .nav-btn {
    display: none !important;
  }
  .menu {
    display: inline-block !important;
  }
  .sm-nav-wrapper {
    padding-right: 20px;
  }
  .sec-3-div-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec-3-div-child {
    width: 70%;
  }
  .elementor-title {
    text-align: center;
  }
  .elementor-widget-img {
    text-align: center;
  }
  .sec-4-div-child {
    width: 50%;
  }
  .elementor-title p {
    text-align: left;
  }
}
@media only screen and (max-width: 425px) {
  .elementor-box-wrapper {
    flex-wrap: wrap;
  }
  .elementor-box {
    width: 100%;
  }
  .sec-4-div-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .sec-4-div-child {
    width: 100%;
  }
  .elementor-appstore img {
    width: 30%;
  }
  .sec-5-div-wrapper {
    flex-direction: column;
  }
  .info-box {
    width: 100%;
  }
  .sec-6-div-wrapper {
    flex-direction: column;
  }
  .div-wrapper {
    width: 100%;
  }
  .slider-img {
    display: flex;
    justify-content: center;
  }
  .slider-img img {
    width: 60% !important;
  }
  .sec-7-div-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .contact-box {
    width: 100%;
  }
  .contact-text {
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-box {
    width: 100%;
  }
  .footer-box p {
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
  .logo img {
    max-height: 50px;
  }
  .nav-tab a {
    padding: 7px 8px !important;
    font-size: 15px;
  }
}
